.btn-circle.btn-xl {
    width: 150px;
    height: 150px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
html,body{
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main{
    flex: 1 1 auto;
    position: relative;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}
.content{
margin: 0 20%;
margin-top: 30%;
}
.direction{
font-size: 2em;
}
.visio{

}
.home{
    display: flex;
    justify-content: space-around;
    font-size: 10em;
}
#icon{
    font-size: 20em;
    margin: 5% 5%;
    padding: 20%;
    border: 3px solid black;
}
#title{
    margin: 0 40%;
}